<header class="header-description">
    <div id="site-header">
        <h1>
            <a href="@Url.Action("Index", "Home")" title="RANSUROTTO.COM">RANSUROTTO.COM</a>
        </h1>
        <p class="typed">
            <a href="@Url.Action("Index", "Home")" title="RANSUROTTO.COM">RANSUROTTO.COM</a>
            <span class="typed-cursor">|</span>
        </p>
    </div>
</header>