
@media(max-width:700px) {
    #site-header {
        font-size: 16px !important
    }

    .header-description, .header-description .scene {
        height: 450px !important
    }

    .scene img {
        min-height: 450px !important
    }
}


/*Home description block style*/

.header-description {
    height: 650px;
    position: relative;
    background-image: url('/Content/Image/header.jpg');
    width: 100%;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat
}

#site-header {
    top: 180px;
    font-weight: 700;
    font-family: kilsonburg,"Avenir Next",Helvetica,Arial,"Lantinghei SC","Microsoft YaHei",sans-serif;
    font-size: 34px;
    text-shadow: 0 1px 1px #47456d;
    margin-bottom: 130px;
    -ms-animation: show-site-title 1s ease-out;
    -o-animation: show-site-title 1s ease-out;
    -moz-animation: show-site-title 1s ease-out;
    -webkit-animation: show-site-title 1s ease-out;
    animation: show-site-title 1s ease-out;
}

    #site-header a {
        color: #fff;
        font-weight: 400
    }

.typed-cursor {
    -ms-opacity: 1;
    opacity: 1;
    -webkit-animation: blink .7s infinite;
    -ms-animation: blink .7s infinite;
    animation: blink .7s infinite;
    color: #fff
}
