<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode systemName="Home" resource="Admin.Home" controller="Home" action="Overview">


    <siteMapNode systemName="System" resource="Admin.System" iconClass="fa-cube">
      <siteMapNode systemName="Log" resource="Admin.System.Log" controller="Log" action="List" iconClass="fa-dot-circle-o"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>