<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode systemName="Home" resource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode systemName="Dashboard" resource="Admin.Dashboard" controller="Home" action="Index" iconClass="fa-dot-circle-o"/>

    <siteMapNode systemName="Customers" resource="Admin.Customers" iconClass="fa-user">

    </siteMapNode>
    <siteMapNode systemName="Content Management" resource="Admin.ContentManagement" iconClass="fa-cubes">
      <siteMapNode systemName="Blog" resource="Admin.ContentManagement.Blog" iconClass="fa-dot-circle-o">
        <siteMapNode systemName="Blog posts" resource="Admin.ContentManagement.Blog.Posts" controller="BlogPost" action="List" iconClass="fa-dot-circle-o"/>
        <siteMapNode systemName="Blog comments" resource="Admin.ContentManagement.Blog.Comments" controller="BlogPost" action="List" iconClass="fa-dot-circle-o"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode systemName="Configuration" resource="Admin.Configuration" iconClass="fa-gears">
      <siteMapNode systemName="Email accounts" resource="Admin.Configuration.EmailAccounts" controller="EmailAccount" action="List" iconClass="fa-dot-circle-o"/>
      <siteMapNode systemName="Languages" resource="Admin.Configuration.Languages" controller="Language" action="List" iconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode systemName="System" resource="Admin.System" iconClass="fa-cube">
      <siteMapNode systemName="System information" resource="Admin.System.SystemInfo" controller="Common" action="SystemInfo" iconClass="fa-dot-circle-o"/>
      <siteMapNode systemName="Log" resource="Admin.System.Log" controller="Log" action="List" iconClass="fa-dot-circle-o"/>
      <siteMapNode systemName="Warnings" resource="Admin.System.Warnings" controller="Common" action="Warnings" iconClass="fa-dot-circle-o"/>
      <siteMapNode systemName="Maintenance" resource="Admin.System.Maintenance" controller="Common" action="Maintenance" iconClass="fa-dot-circle-o"/>
      <siteMapNode systemName="Schedule tasks" resource="Admin.System.ScheduleTasks" controller="ScheduleTask" action="List" iconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode systemName="Help" resource="Admin.Help" iconClass="fa-question-circle">
      <siteMapNode systemName="About blog" resource="Admin.Help.About" url="https://github.com/RANSUROTTO/RANSUROTTO.BLOG" iconClass="fa-dot-circle-o" openUrlInNewTab="true"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>