<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode systemName="Home" resource="Admin.Home" controller="Home" action="Overview">


    <siteMapNode systemName="System" resource="Admin.System" iconClass="fa-cube">
      <siteMapNode systemName="System information" resource="Admin.System.SystemInfo" controller="Common" action="SystemInfo"  iconClass="fa-dot-circle-o"/>
      <siteMapNode systemName="Log" resource="Admin.System.Log" controller="Log" action="List" iconClass="fa-dot-circle-o"/>
      <siteMapNode systemName="Warnings" resource="Admin.System.Warnings" controller="Common" action="Warnings" iconClass="fa-dot-circle-o"/>
      <siteMapNode systemName="Maintenance" resource="Admin.System.Maintenance" controller="Common" action="Maintenance" iconClass="fa-dot-circle-o"/>
      <siteMapNode systemName="Schedule tasks" resource="Admin.System.ScheduleTasks" controller="ScheduleTask" action="List" iconClass="fa-dot-circle-o"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>